/*결제 상태 토글*/
.dropdown-payStatus {
	padding-left: 30px;
}

/* .custom-date-picker-container 안에 있는 input 스타일 */
.custom-date-picker-container input {
    padding: 30px 15px !important;
    border: 1px solid lightgrey !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff !important;
    color: #4CAF50 !important;
    font-size: 18px !important;
    letter-spacing: 1px;
    position: relative;
    font-weight: bold !important;
}

.custom-date-picker-container .input1 {
    text-align: left !important;
}

.custom-date-picker-container .input2 {
    text-align: right !important;
}

.custom-date-picker-container input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0;
}

/* Placeholder 색상 */
.custom-date-picker-container ::placeholder {
    color: #BDBDBD;
    opacity: 1;
}

.custom-date-picker-container :-ms-input-placeholder {
    color: #BDBDBD;
}

.custom-date-picker-container ::-ms-input-placeholder {
    color: #BDBDBD;
}

.custom-date-picker-container button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

/* Datepicker 스타일 */
.custom-date-picker-container .datepicker {
    background-color: #fff;
    border-radius: 0 !important;
    padding: 15px 20px !important;
    align-content: center !important;
}

.custom-date-picker-container .datepicker-dropdown {
    top: 0;
    left: calc(50% - 161px) !important;
}

.custom-date-picker-container .datepicker-dropdown.datepicker-orient-left:before {
    left: calc(50% - 6px) !important;
}

.custom-date-picker-container .datepicker-dropdown.datepicker-orient-left:after {
    left: calc(50% - 5px) !important;
}

.custom-date-picker-container .datepicker table tr td.today,
.custom-date-picker-container span.focused {
    border-radius: 50% !important;
    background-image: linear-gradient(#FFF3E0, #FFE0B2);
}

.custom-date-picker-container .datepicker table tr td.today.range {
    background-image: linear-gradient(#eeeeee, #eeeeee) !important;
    border-radius: 0 !important;
}

/* Weekday title */
.custom-date-picker-container thead tr:nth-child(3) th {
    font-weight: bold !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-date-picker-container .old,
.custom-date-picker-container .day,
.custom-date-picker-container .new {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
    border: 1px solid lightgrey !important;
}

.custom-date-picker-container .day.old,
.custom-date-picker-container .day.new {
    background-color: #F5F5F5 !important;
    color: #E0E0E0 !important;
}

.custom-date-picker-container .day.old:hover,
.custom-date-picker-container .day.new:hover {
    border-radius: 0px !important;
}

.custom-date-picker-container .old-day:hover,
.custom-date-picker-container .day:hover,
.custom-date-picker-container .new-day:hover,
.custom-date-picker-container .month:hover,
.custom-date-picker-container .year:hover,
.custom-date-picker-container .decade:hover,
.custom-date-picker-container .century:hover {
    border-radius: 50% !important;
    background-color: #eee;
}

.custom-date-picker-container .active {
    border-radius: 50% !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: #fff !important;
}

.custom-date-picker-container .range-start,
.custom-date-picker-container .range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#4CAF50, #4CAF50) !important;
}

.custom-date-picker-container .range {
    color: #4CAF50 !important;
}

.custom-date-picker-container .prev,
.custom-date-picker-container .next,
.custom-date-picker-container .datepicker-switch {
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 18px;
    opacity: 0.7;
    color: #4CAF50;
}

.custom-date-picker-container .prev:hover,
.custom-date-picker-container .next:hover,
.custom-date-picker-container .datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}

/* Media Query */
@media screen and (max-width: 500px) {
    .custom-date-picker-container .datepicker-dropdown.datepicker-orient-right:before {
        right: calc(50% - 6px) !important;
    }

    .custom-date-picker-container .datepicker-dropdown.datepicker-orient-right:after {
        right: calc(50% - 5px) !important;
    }
}


