<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>도서등록</title>

<!-- 구글폰트 -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- 사이드바 아이콘 -->
<link th:href="@{/images/common/bootstrap-icons/bootstrap-icons.css}"
	rel="stylesheet">
<link th:href="@{/images/common/remixicon/remixicon.css}"
	rel="stylesheet">

<!--부트스트랩 외부링크-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<!-- Main CSS File -->
<link th:href="@{/css/common/style.css}" rel="stylesheet">
<link th:href="@{/css/books/books.css}" rel="stylesheet">

<!--달력 조회-->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap Datepicker CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<!-- Bootstrap Datepicker JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>



</head>

<body>
	<div th:replace="/fragment/header :: header2"></div>
	

	<main id="main" class="main">
	<div th:replace="/fragment/sidebar :: sidebar2"></div>
		<div class="container text-center">
			<div class="row justify-content-center">
				<!-- 중앙 정렬을 위한 행 -->
				<div class="col-auto" style="margin-left: auto;">
					<!-- 카드와 이미지 업로드 버튼 -->
					<div class="card" style="width: 15rem; margin-bottom: 1rem;">
						<img th:src="@{/images/books/noimage.png}" alt="No Image"
							id="bookImage">
						<div class="card-body">
							<p class="card-text">
								<!-- 이미지 업로드 버튼 -->
								<input type="file" accept="image/*"
									onchange="previewImage(event)" style="display: none;"
									id="imageInput">
								<button type="button" class="btn btn-dark"
									onclick="document.getElementById('imageInput').click();">추가</button>
								<button type="button" class="btn btn-dark"
									onclick="deleteImage()">삭제</button>
							</p>
						</div>
					</div>
				</div>

				<!-- 도서 등록 폼 -->
				<form th:action="@{/admin/addBook}" method="post"
					  style="max-width: 700px; margin: 0 auto;">
					<div class="col-auto">
						<!-- ISBN 입력 -->
						<div class="input-group mb-3">
							<span class="input-group-text">ISBN</span> <input type="text"
								class="form-control" name="isbn" placeholder="ISBN번호를 입력하세요"
								style="max-width: 300px;">
							<button type="button" 
									class="btn btn-secondary"
									onclick="isbnSearch()">조회</button>
						</div>

						<!-- 도서명 입력 -->
						<div class="input-group mb-3">
							<span class="input-group-text">도서명</span> 4
							<input type="text"
								class="form-control" name="bookName" placeholder="도서명을 입력하세요"
								style="max-width: 300px;">
						</div>

						<!-- 저자 및 출판사 입력 -->
						<div class="input-group mb-3">
							<span class="input-group-text">저자</span> <input type="text"
								class="form-control" name="author" placeholder="저자명"
								style="max-width: 300px;"> <span
								class="input-group-text">출판사</span> <input type="text"
								class="form-control" name="publish" placeholder="출판사명"
								style="max-width: 150px;">
						</div>

						<!-- 입고일 및 지점 선택 -->
						<div class="input-group mb-3">
							<span class="input-group-text">입고일</span> <input type="text"
								class="form-control datepicker" name="bookDate"
								placeholder="입고일 선택" style="max-width: 150px;"> 
								<span
								class="input-group-text">지점</span> 
								<select class="form-select"
								name="storeName" style="max-width: 150px;">
								<option selected>지점선택</option>
								<option value="1">부전점</option>
								<option value="2">해운대점</option>
								<option value="3">양정점</option>
								<option value="4">강남점</option>
								<!-- 지점이 등록되면 여기도 자동으로 추가가 되어야 할텐데..... -->
							</select>
						</div>

						<!-- 대여현황 및 대여금액 입력 -->
						<div class="input-group mb-3">
							<span class="input-group-text">대여현황</span> 
							<select
								class="form-select" name="rentStatus"
								style="max-width: 250px;">
								<option selected>대여 상태를 선택하세요</option>
								<option value="available">대여가능</option>
								<option value="unavailable">대여불가</option>
							</select> 
							<span class="input-group-text">대여금액</span> 
							<input type="text"
								   class="form-control" 
								   name="rentalPrice" 
								   id="rentPrice"
								   placeholder="금액입력" 
								   style="max-width: 150px;">
						</div>

						<!-- 도서상태 및 수량 선택 -->
						<div class="input-group mb-3">
							<span class="input-group-text">도서상태</span> 
							<select
								class="form-select" name="bookStatus"
								style="max-width: 250px;">
								<option selected>도서 상태를 선택하세요</option>
								<option value="good">양호</option>
								<option value="bad">불량</option>
								<option value="discard">폐기</option>
								<option value="lost">분실</option>
							</select>

							<!-- 수량 선택 -->
							<span class="input-group-text" style="margin-right: 1rem;">수량</span>
							<div class="d-flex align-items-center">
								<button type="button" class="btn btn-outline-secondary btn-sm"
									onclick='count("minus", 1)'>
									<i class="ri-subtract-line" style="font-size: 0.75rem;"></i>
								</button>
								<div id="result-1" class="mx-2">0</div>
								<button type="button" class="btn btn-outline-secondary btn-sm"
									onclick='count("plus", 1)'>
									<i class="ri-add-fill" style="font-size: 0.75rem;"></i>
								</button>
							</div>
						</div>
						
						<!-- 출판일 -->
						<input type="hidden" name="pubDate">

						<!-- 줄거리 입력 -->
						<div class="input-group mb-3">
							<span class="input-group-text">책소개</span>
							<textarea class="form-control" name="story" rows="4" cols="50"
								 style="resize: none; width: 300px; height: 150px; 
								 padding: 10px; line-height: 1.5;">
    						</textarea>
						</div>

						<!-- 버튼 섹션 -->
						<div class="text-end">
							<button id="resetbtn" class="btn btn-outline-dark" type="reset"
								onclick="location.href='/admin/addBook'">초기화</button>
								
							<button type="submit" class="btn btn-outline-success"
								id="openModal">등록하기</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>


	<!-- 모달 -->
	<div class="modal fade" tabindex="-1" id="modalBody">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">등록 완료 안내</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>도서 등록이 완료되었습니다!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-success">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!--모달 끝-->


	<!--이미지 파일 추가하는거 -->
	<script>
	function previewImage(event) {
	    const image = document.getElementById('bookImage');
	    image.src = URL.createObjectURL(event.target.files[0]);
	}
  </script>
	<script>
	function deleteImage() {
		    const image = document.getElementById('bookImage');
		    image.src = '/images/books/noimage.png'; // 기본 이미지로 되돌리기
		}
  </script>
	<!--달력 js-->
	<script>
	$(document).ready(function() {
	    $('.datepicker').datepicker({
	        format: 'yyyy-mm-dd', // 날짜 형식 설정
	        autoclose: true, // 날짜 선택 후 자동으로 닫기
	        todayHighlight: true // 오늘 날짜 강조
	    }).on('changeDate', function(e) {
	        // 날짜 변경 시 원하는 작업을 추가할 수 있습니다.
	    });
	});

    </script>

	<!--재고변경js-->
	<script>
	    function count(type, bookId) {
	        const resultElement = document.getElementById(`result-${bookId}`);
	        let number = parseInt(resultElement.innerText);

	        if (type === 'plus') {
	            number += 1;
	        } else if (type === 'minus') {
	            if (number > 0) {
	                number -= 1;
	            }
	        }

	        resultElement.innerText = number; // 결과 출력
	    }
	</script>

	<!--모달 js-->
	<script>
		const myModalElement = document.getElementById('modalBody');
		   const myModal = new bootstrap.Modal(myModalElement);
		   const myInput = document.getElementById('modalMessage');

		   // 등록하기 버튼 클릭 이벤트
		   document.getElementById('openModal').addEventListener('click', () => {
		       myModal.show(); // 모달 표시
		   });

		// 모달 닫기 후 books 페이지로 이동
		    document.getElementById('closeModal').addEventListener('click', () => {
		        myModal.hide(); // 모달 닫기
		        window.location.href = '/admin/books'; // books 페이지로 리다이렉트
		    });
	</script>

	<!--대여금액 숫자3자리 , 찍는 js-->
	<script>
		const input = document.querySelector('#rentPrice');
		input.addEventListener('keyup', function(e) {
		  let value = e.target.value;
		  value = Number(value.replaceAll(',', ''));
		  if(isNaN(value)) {         //NaN인지 판별
		    input.value = 0;   
		  }else {                   //NaN이 아닌 경우
		    const formatValue = value.toLocaleString('ko-KR');
		    input.value = formatValue;
		  }
		})
	</script>
	<!-- isbn API불러오는 js-->
	<script>
	function isbnSearch(){
		//querySelector로 input 을 선택할 수 있고 value 로 값을 가져올수 있다.
		const isbn = document.querySelector("input[name='isbn']").value;
		//문자열을 합칠땐 템플릿 리터럴(``)로 감싸야한다. 그래야 isbn 변수가 들어간다.
		let url = `https://www.nl.go.kr/seoji/SearchApi.do?cert_key=6e3c1f31ab8b477b3346a6d485a280dcebfbdd9f97fe34c373133551f4fc8616&result_style=json&page_no=1&page_size=1&isbn=${isbn}`
	
	
	//fetch 를 사용하여 JSON 데이터를 요청하고, 응답을 처리
	fetch(url)
		.then(response => {
			if(!response.ok){
				throw new Error(response.statusText);
			}
			return response.json();
			
		})
		// 여기서 응답을 받는다. -> 원하는 데이터 추출
		.then(data => {
			console.log(data);
			// 콘솔 확인시 docs 에 정보가 들어있다.
			
			//dosc[0] 은 배열의 첫 번째 객체를 가르킨다. 콘솔에 "0:"
			//const {AUTHOR, TITLE} 는 필요한 필드를 구조 분해 할당으로 한 번에 가져오는 방법
			const {AUTHOR, TITLE} = data.docs[0];
			
			//'value = ' 형태로 값을 넣을 수도 있다.
			document.querySelector("input[name= 'author']").value = AUTHOR;
			
		})
		.catch(error =>{
			console.error(error);
		})
		
	}

	</script>
	<script th:src="@{/js/common/main.js}"></script>
</body>
</html>
