
<!-- ======= 사이드바 ======= -->
<aside id="sidebar" class="sidebar" th:fragment="sidebar2">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/booklist">
        <i class="ri-dashboard-fill"></i>
        <span>도서 목록</span>
      </a>
    </li>
  <!--도서 목록 끝-->

  <li class="nav-item">
        <a class="nav-link collapsed" href="userblist">
          <i class="ri-dashboard-fill"></i>
          <span>회원 도서 목록</span>
        </a>
      </li>
    <!--회원 도서 목록 끝-->

  <li class="nav-item">
	      <a class="nav-link collapsed" href="/usercontent">
	        <i class="ri-dashboard-fill"></i>
	        <span>회원 정보</span>
	      </a>
	    </li>
	  <!--회원 정보 끝-->
	 
  <li class="nav-item">
	  	  <a class="nav-link collapsed" href="@{/main.html}">
	  	    <i class="ri-dashboard-fill"></i>
	  	    <span>장바구니</span>
	  	  </a>
	  	</li>
	  <!--회원 정보 끝--> 
	  
  <li class="nav-item">
	      <a class="nav-link collapsed" href="@{/main.html}">
	  	    <i class="ri-dashboard-fill"></i>
	  	    <span>결제</span>
	  	  </a>
        </li>
      <!--회원 정보 끝-->

  </ul>
  </aside><!-- 사이드바 끝-->