/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* 컨테이너 */
.container.rent {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
}

/* 모달 */
.modal-body {
  text-align: center;
}

.rental-form {
  display: inline-block;
  text-align: left;
}

.rental-form .form-control {
  width: 200px;
}

.rental-form .row {
  display: flex;
  align-items: center;
}

/* 테이블 */
.table {
  width: 100%;
  margin-top: 20px;
}

.table th {
  background-color: #4caf50;
  color: #fff;
}

/* 총 연체료 */
.total-late-fee {
  background-color: yellow;
}

/* 버튼 */
.input-group .btn {
  margin-left: 10px;
}

.book-title {
  max-width: 150px; /* 원하는 너비로 설정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
