 <!-- ======= 헤더 ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" th:fragment="header2">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
		<!--나중에 로고 이미지 삽입 예정! -->
<!--         <img src="/common/images/bookjuk1.png" alt=""> -->
        <span class="d-none d-lg-block">북적북적</span>
      </a>
      <i class="ri-menu-line toggle-sidebar-btn"></i>
    </div><!-- End 로고 -->
	
	<div class ="container">
		<div class="row">
			<div class="col d-flex justify-content-end">
				<!--로그인했을때 세션 저장, userNum -->
				<div th:if="${session.userNum}">
					<span th:text="${session.userNum}"></span>님
					<button type ="button" class="btn btn-outline-success" onclick="location.href='/logout'">로그아웃</button>
				</div>
				<!--비로그인시 -->
				<div th:if="${session.userNum == null}">
					<button type ="button" class="btn btn-outline-success" onclick="location.href='/login'">로그인</button>
				</div>
				
			</div>
		</div>
	</div>
           
   <!-- 여기에 로그아웃 버튼 추가하기 -->
  </header>
  <!-- 헤더끝 -->