<!-- ======= 사이드바 ======= -->
<aside id="sidebar1" class="sidebar1" th:fragment="sidebar3">

  <ul class="sidebar1-nav" id="sidebar1-nav">

	<li class="nav-item1">
		<a class="nav-link1 collapsed" data-bs-target="#books-nav" data-bs-toggle="collapse" href="#">
	        <i class="ri-book-2-fill"></i><span>도서 목록</span><i class="ri-arrow-down-s-fill ms-auto"></i>
	      </a>
	      <ul id="books-nav" class="nav-content1 collapse " data-bs-parent="#sidebar1-nav">
	       <li>
	         <a href="#">
	           <i class="ri-checkbox-blank-circle-fill"></i><span>지점별 조회</span>
	         </a>
	       </li>
	    </ul>
	</li>
  <!--전체도서 끝--> 

    <li class="nav-item1">
      <a class="nav-link1 collapsed" data-bs-target="#genre-nav" data-bs-toggle="collapse" href="#">
        <i class="ri-book-2-fill"></i><span>장르별 찾기</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="genre-nav" class="nav-content1 collapse " data-bs-parent="#sidebar1-nav">
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>시/소설/에세이</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>경제/시사</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>자기계발</span>
          </a>
        </li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>역사/문화/종교</span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>과학/컴퓨터/IT</span>
		  </a>
		</li>
      </ul>
    </li><!-- 장르별조회 끝 -->

    <li class="nav-item1">
      <a class="nav-link1 collapsed" data-bs-target="#mypage-nav" data-bs-toggle="collapse" href="#">
        <i class="ri-star-smile-fill"></i><span>마이페이지</span><i class="ri-arrow-down-s-fill ms-auto"></i>
      </a>
      <ul id="mypage-nav" class="nav-content1 collapse " data-bs-parent="#sidebar1-nav">
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>내정보</span>
          </a>
        </li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>대여목록</span>
		  </a>
		</li>
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>충전조회</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="ri-checkbox-blank-circle-fill"></i><span>쿠폰 관리</span>
          </a>
        </li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>결제 내역</span>
		  </a>
		</li>
		<li>
		  <a href="#">
		    <i class="ri-checkbox-blank-circle-fill"></i><span>1:1문의</span>
		  </a>
		</li>
      </ul>
    </li><!-- 마이페이지 끝 -->

    <li class="nav-item1">
      <a class="nav-link1 collapsed" href="#">
        <i class="ri-broadcast-fill"></i>
        <span>이벤트</span>
      </a>
    </li>

  </ul>
  </aside><!-- 사이드바 끝-->
