.main-search .card{
    border: 1px solid #69cbbe;
    background-color: #e1f0ed;
}
.main-search .form-control, .btn{
    height: 50px;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: #198753;
}
.dropdown .btn {
    height: 32px;
}
.carousel-item card{
    width: 150px;
}
.carousel-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}


.carousel-control-prev, .carousel-control-next {
    width: auto; /* 기본 너비를 해제 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel-control-prev {
    left: -5px; /* 왼쪽 버튼을 이미지 바깥쪽으로 이동 */
}

.carousel-control-next {
    right: -5px; /* 오른쪽 버튼을 이미지 바깥쪽으로 이동 */
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(33%) sepia(64%) saturate(317%) hue-rotate(104deg) brightness(91%) contrast(101%);
}

.pagination {

    --bs-pagination-color: #fff;
    --bs-pagination-bg: #198753;
    --bs-pagination-border-color: #198753;
    --bs-pagination-hover-color: #fff;
    --bs-pagination-hover-bg: #115c3a;
    --bs-pagination-hover-border-color: #198753;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #198753;
    --bs-pagination-active-border-color: #198753;

    --bs-pagination-focus-color: #fff;
    --bs-pagination-focus-bg: #115c3a;
}


.modal-body img{
    width: 200px;
    height: 280px;
}

.book-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px 10px; /* 세로 간격 8px, 항목과 값 간격 20px */
}

.detail-item {
    display: contents; /* 내부 요소가 그리드 영역을 채우도록 함 */
}