<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>유저목록 | 북적북적</title>

	<!-- 구글폰트 -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- 사이드바 아이콘 -->

	<link th:href="@{/images/common/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/images/common/remixicon/remixicon.css}" rel="stylesheet">


	<!--부트스트랩 외부링크-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Main CSS File -->


	<link th:href="@{/css/common/style.css}" rel="stylesheet">
	<link th:href="@{/css/customer/customer.css}" rel="stylesheet">
</head>

<body>
	<div th:replace="~{/fragment/header :: header2}"></div>
	<div th:replace="~{/fragment/sidebar :: sidebar2}"></div>

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>고객목록</h1>
			<!--			<nav>-->
			<!--				<ol class="breadcrumb">-->
			<!--					<li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
			<!--					<li class="breadcrumb-item">Tables</li>-->
			<!--					<li class="breadcrumb-item active">Data</li>-->
			<!--				</ol>-->
			<!--			</nav>-->
		</div><!-- End Page Title -->

		<section class="section">
			<div class="row">
				<div class="col-lg-12">

					<div class="card">
						<div class="card-body">

							<div class="col d-flex justify-content-between">
								<!--검색-->
								<div class="search-bar">
									<form class="search-form d-flex align-items-center" method="get"
										action="/admin/user/user_list">
										<input name="search" class="form-control me-2" type="search" placeholder="검색"
											aria-label="Search">
										<button class="btn btn-outline-success" type="submit">Search</button>
									</form>
								</div>

							</div>

							<!-- Table with stripped rows -->
							<table class="table datatable table-hover">
								<thead>

									<tr>
										<th>이름</th>
										<th>아이디</th>
										<th>생년월일</th>
										<th>이메일</th>
										<th>생성일</th>
										<th>등급</th>
										<!--										<th></th>-->
									</tr>

								</thead>
								<tbody>
									<tr th:each="user, status:${userList}"
										th:onclick="|location.href='@{/admin/user/user_info?(user=${user.userNum})}'|">
										<td th:text="${user.userName}"></td>
										<td th:text="${user.userId}"></td>
										<td th:text="${user.userBirthday}"></td>
										<td th:text="${user.userEmail}"></td>
										<td th:text="${user.createDate}"></td>
										<td>일반</td>
										<!--										<td>-->
										<!--											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"-->
										<!--												style="cursor: pointer;" fill="currentColor" class="bi bi-trash me-2"-->
										<!--												viewBox="0 0 16 16" onclick="deleteUser()">-->
										<!--												<path-->
										<!--													d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />-->
										<!--												<path-->
										<!--													d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />-->
										<!--											</svg>-->
										<!--										</td>-->
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->

							<nav aria-label="Page navigation example" th:if="${userList != null}">
								<ul class="pagination">
									<li class="page-item"><a class="page-link"
											th:href="|@{/admin/user/user_list(page=${currentPage}-1, search=${search})}|"
											th:text="이전" th:if="${currentPage > 1}"></a></li>

									<li class="page-item" th:each="page:${#numbers.sequence(startPage, endPage)}">
										<span class="page-link" th:if="${page == currentPage}" th:text="${page}"></span>
										<span th:unless="${page == currentPage}">
											<a class="page-link"
												th:href="|@{/admin/user/user_list(page=${page}, search=${search})}|"
												th:text="${page}"></a>
										</span>
									</li>

									<li class="page-item"><a class="page-link"
											th:href="|@{/admin/user/user_list(page=${currentPage}+1, search=${search})}|"
											th:text="다음" th:if="${currentPage < totalPages}"></a></li>
								</ul>
							</nav>

						</div>
					</div>

				</div>
			</div>
		</section>

	</main><!-- End #main -->


	<!-- 사이드바 열었다 닫았다 하는거 -->
	<script th:src="@{/js/common/main.js}"></script>



</body>

</html>